<h2>Search for a day to get the planetary information</h2>

<p>Input a prior day with the form YYYY-MM-DD</p>
<form name="search-input">
  <input type="text" [value]="testVal" (input)="handleInput($event)" />
  <button type="button" (click)="handleSubmit()">submit </button>
</form>

<p *ngIf=" imageData.date != '' "> date: {{ imageData.date }} </p>
<p *ngIf=" imageData.explanation != '' "> {{ imageData.explanation }} </p>
<p *ngIf=" imageData.copyright != '' "> copyright: {{ imageData.copyright }} </p>

<img [src]='imageData.imageUrl' *ngIf=" imageData.imageUrl != '' " />

<p> initial testing: {{ dayService.dayTest }} </p>
